<!doctype html>
<html lang="en">
<head>
  <title>HTMX + Transition basics</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.8.0"></script>
  <link href="site.css" rel="stylesheet">
</head>
<body class="m-3">

<h1 class="text-3xl font-bold text-blue-400">
  <a href="#">HTMX + Transition basics</a>
</h1>


<div class="p-8 border rounded-lg mt-8">
  <div class="mt-8 flex justify-center p-6">

    <div>
      <button type="button"
              hx-get="content.html"
              hx-target="#content"
              hx-swap="outerHTML"
              class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-blue-700 bg-blue-100 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Load content
      </button>
    </div>
    <div class="ml-3">
      <button type="button"
              hx-get="empty.html"
              hx-target="#content"
              hx-swap="outerHTML"
              class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
        Unload content
      </button>
    </div>
  </div>
  <div id="content"
       class="transition-all duration-50 ease-in bg-green-50 text-green-100 p-3 rounded-md"
       hx-get="empty.html"
       hx-trigger="load"
       hx-swap="outerHTML">

  </div>
</div>

</body>
</html>
